html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, 
* ::before
* ::after {
    box-sizing: inherit ;
}

nav {
    background-color: gold;
    margin: 0 auto 30px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

nav a {
    padding: 20px;
color:#50504f;
text-decoration: none;
}

nav a:link, 
nav a:visited {
    color:#50504f;
}

nav a:hover,
nav a:active {
    background-color: goldenrod;
    text-decoration: underline;
    color:white;
}





.parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(4, 1fr);

grid-column-gap: 10px;
grid-row-gap: 10px;
}

.div1 { grid-area: 1 / 1 / 3 / 4; }
.div2 { grid-area: 1 / 4 / 3 / 6; }
.div3 { grid-area: 1 / 6 / 2 / 8; }
.div4 { grid-area: 2 / 6 / 3 / 8; }
.div5 { grid-area: 3 / 1 / 5 / 4; }
.div6 { grid-area: 3 / 4 / 4 / 5; }
.div7 { grid-area: 3 / 5 / 4 / 6; }
.div8 { grid-area: 4 / 4 / 5 / 6; }
.div9 { grid-area: 3 / 6 / 5 / 8; }
.div10 { grid-area: 1 / 6 / 2 / 8; }



.parent {
    width: 1100px;
    height: 680px     display: grid;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-column-gap: 10px; 
    grid-row-gap: 10px;
}

.div1 span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 5rem;
    font-size: 5rem;
    line-height: 50%;
}

.div1 p {
    font-size: 1.5rem;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: •#919898;
}

.div2 {
    grid-area: 1 / 4 / 3 / 6; 
    background-color: rgb(94, 183, 112);
    height: 330px;
}

.div3 {
    grid-area: 1 / 6 / 2 / 8; 
    background-color: rgb(103, 229, 12);
}

.div4 {
    grid-area: 2 / 6 / 3 / 8; 
    background-color: rgb(94, 175, 96);
}

.div5 { 
    grid-area: 3 / 1 / 5 / 4;
    background-color: rgb(9, 91, 30);
}

.div6 {
    grid-area: 3 / 4 / 4 / 5; 
    background-color: rgb(73, 104, 88);
}

.div7 {
    grid-area: 3 / 5 / 4 / 6; 
    background-color: rgb(186, 239, 201);
}

.div8 {
    grid-area: 4 / 4 / 5 / 6; 
    background-color: rgb(3, 246, 72);
}

.div9 {
    grid-area: 3 / 6 / 5 / 8; 
    background-color: rgb(24, 61, 41);
}