html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #474948;
}

body {
background-color: #f2e8e8; /* fallback color */
background-image: url(/img/cherrys.jpeg);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

html {
*,
::before,
::after {
box-sizing: inherit;
}

nav {
background-color: #ffffff;
padding: 1rem;
}

nav li {
nav ak padding: 20px;
display: inline-block
    

}
}

h1,
h2,
h3,
h4
h5 {
    color: rgb(67, 92, 19);
    font-family: Georgia,
    'Times New Roman', Times, serif;
    text-decoration: underline dotted rgba(255, 255, 255, 0.655);
    text-underline-offset: 12px;
}

h1 {
    font-size: 3.25rem;
    color: #000;
    text-align: center;
    padding: 2px 16px; 
    background-color:rgba(255, 255, 255, 0.693);
    border-radius: 8px;
    border: 77px solid rgba(255, 255, 255, 0);
    margin-right: 9px; 
    margin-left: 9px;
}


h2 {
    font-size: 1.78rem;
    color: #ffffff;
    text-align: left
    padding: 2px 16px; 
    background-color: rgb(49, 38, 249);
    border: 7px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    margin-right: 760px; 
    margin-left: 30px;
    margin-bottom: 4rem;
    m
}

h2::before,
h2::after {
    content: "!";
}

h3 {
    font: 1em sans-serif;
    font-size: 2.25rem;
    text-align: center;
    color: #000000;
    padding: 2px 16px; 
    border-radius: 8px;
    margin-right: 99px; 
    margin-left: 99px;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.25rem;
    color: #000;
    text-align: center;
    padding: 2px 16px; 
    background-color:rgba(255, 255, 255, 0.693);
    border-radius: 8px;
    border: 7px solid rgba(255, 255, 255, 0);
    margin-right: 9px; 
    margin-left: 9px;
}

h5 {
   font-size: 1.2rem;
    color: #000;
    font: 1em sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;

    border: 88px solid rgb(255, 255, 255);
    margin-right: 888px; 
    margin-left: 88px;
    display: inline-block;
    align-items: center;
}

h6 {
    font-size: 1.2rem;
    color: #000;
    font: 1em sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 88px solid rgb(255, 255, 255);
    margin-right: 88px; 
    margin-left: 88px;
    display: inline-block;
    align-items: center;
}



nav, li {
    font-size: 1.3rem;
    color: #000;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;

}

header p {
    align-items: right;
    color: #000;
    font-size: 80%;
    background-color: rgb(249, 248, 248);
    border-radius: 8px;
    margin-right: 8px; 
    display: inline-block;
}

.assignments li {
    list-style-type: none;
}

.assignments li::before {
    content: "🫐";
    font-size: 1.6rem;
    
}

.assignments a:link,
.assignments a:visited {
    line-height: 1.6;
    color: #000;
    border-radius: px;
    margin-right: 8px; 
    border: px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    align-items: center;
    text-decoration: underline;
    
}

.assignments a:hover,
.assignments a:active { 
    text-decoration: none
    text-underline-offset: 4px;
    
}

nav {
text-align: center;
margin-bottom: 3.5rem;
}

nav li {
display: inline-block;
align-items: center;


}   

nav a {
    font: 1em sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px 16px;
}

footer p {
    font-family: 'Times New Roman', Times, serif ;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}