/* 
    font-family: 'Croissant One', cursive;
    font-family: 'Lato', sans-serif; 
*/

html {
box-sizing: border-box;
font-family: 'Lato', sans-serif; 
font-family: 'Croissant One', cursive;
font-size: 1.2rem;
line-height: 125%;
color: #50504f;
}

*,
::before,
::after {
box-sizing: inherit;
}

nav {
background-color: #C98226;
text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px;
    display: inline-block;
}