html {
    box-sizing: border-box;
    font: 400 14px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
}
/* Styles for desktop by default */
.container { display: flex; }

/* Styles for mobile (screens 600px or smaller) */
@media (max-width: 600px) {
  .container { flex-direction: column; }
}
*, 
* ::before
* ::after {
    box-sizing: inherit ;
}

nav {
    margin: 0 auto 3px;
    padding: .5px;
    width: 100%;
    text-align: center;
     background-size: cover;
     background: linear-gradient(215deg, rgb(31, 41, 99) 0%, rgb(91, 104, 66) 100%);
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    
    background-size: cover;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 9px;
    padding: 20px;
    gap: 25px;
}

nav li {
    display:inline-block;
}

nav a {
    background-color: #ffffff00;
                font-family: "Poppins", Sans-serif;
                font-size: 14px;
                font-weight: 0;
                text-transform: uppercase;
                font-style: bold;
                text-decoration: none;
                line-height: 1.3em;
                letter-spacing: 1.53px;
                fill: #00000000;
                color: #ffffff;
                padding: 15px 20px 15px 20px;
                }   


nav a:link, 
nav a:visited {
    color:#ffffff;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    color:#ffffff;
}

body {
    background-color: #ffffff; /* fallback color */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    text-align: justify;
    font-size: 0px;
    font:20px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-transform: none;
    text-align: justify;
    font-weight:bold;
    text-transform: none;
    text-align: center;
    margin: 20px 100px 20px 100px;
    position: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 200px;


}

h2 {
   text-align: justify;
    font-size: 0px;
    font:15px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-transform: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

h3 {
    text-align: justify;
    color: #ffffff00;
    font-size: 0px;
    font:20px 'Poppins', sans-serif, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-transform: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

footer {
   font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    line-height: 25px;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: #00000000;
    color: #000000;
    padding: 9px;
    padding-block: calc();
    margin-top: 666px;
    margin-bottom: px;
    margin-left: 0%;
    width: 999;
    margin-right: 0%;
    align: left;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    align-self: center;
    padding-inline-start: 5px;
    text-align: center;
    margin-top: 130px;
}
